<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705505923762-41erm37g6nn54hnqc9359fhuvpg64tp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705505923762-41erm37g6nn54hnqc9359fhuvpg64tp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCtZwQfcxpYs18QEw5-KRio9q3T5LzMZk0</string>
	<key>GCM_SENDER_ID</key>
	<string>705505923762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yagnik.quizGenius.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-genius-588d5</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-genius-588d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705505923762:ios:07879b2faf7a67b8696fab</string>
</dict>
</plist>